body{
    min-width: 960px;
    font-size: 14px;
    line-height: normal;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans NarrowBold", "PT Sans", "Arial", serif;
    text-transform: uppercase;
}

@font-face {
  font-family: "PT Sans NarrowBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTN77F.ttf");
}

.container{
    width: 940px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.inner-page{
    background: url("../img/bg_catalog.png") repeat 0 0;
}

.main-header{
    margin-bottom: 60px;
    background: #000000;
    color: #fff;
}

.main-navigation{
    float:left;
    max-width: 670px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.main-navigation li a {
    display: block;
    padding: 26.5px 21px;
    text-decoration: none;
    color: #ffffff;
}

.user-block {    
    float: right;
    font-size: 0;
    max-width: 140px;
}

.user-block .login {
    display: block;
    padding: 26.5px 0;
    padding-right: 21px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

ul.breadcrumbs{
    padding-left: 0;
    margin-bottom: 44px;
}

.breadcrumbs-item{
    display: inline-block;
    padding-right: 10px;
}

.sidebar-catalog{
    float: left;
    max-width: 220px;
}

h2.filter-title{
    margin-bottom: 30px;
}

h2.filter-title:nth-of-type(2){
    margin-top: 52px;
}
.input-check{
    display: block;
}

.sidebar-catalog a{
    display: block;
    margin-top: 52px;
}

.catalog-contant{
    float: right;
    padding: 0;
    max-width: 700px;
    font-size: 0;
}

.catalog-item{
    display: inline-block;
    font-size: 14px;
    width: 220px;
    height: 286px;
    margin: 20px 20px;
    margin-left: 0;
    margin-top: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-item-description{
    padding: 16px;
    padding-top: 5px;
}

.catalog-item-description h1{
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}

.catalog-item-description h1 span{
    display: block;
    text-transform: uppercase;
}

.catalog-item-price{
    font-size: 0;
}

.catalog-item-cost{
    display: inline-block;
    width: 109px;
    font-size: 14px;
}

.catalog-item-price a{
    display: inline-block;
}

.page-number{
    list-style: none;
    margin-bottom: 40px;
    font-size: 0;
}

ul.page-number{
    padding-left: 0;
}

.page-number li{
    display: inline-block;
    margin-right: 7px;
    font-size: 14px;
}

.main-footer {
    background: url("../img/bg_footer.png") repeat-x 0 0;
    padding-top: 60px;
    padding-bottom: 30px;
    line-height: 24px;
    color: #ffffff;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 80px;
}

.footer-social {
    float: left;
}

.main-footer p{
    margin-top: 0;
}

.footer-copyright {
    float: right;
    max-width: 320px;
}

h1{
    font-size: 30px;
}

h2{
    margin: 0;
    font-size: 24px;
}