/*  правила центрирования сайта
-----------------------------------------------*/
body{
    min-width: 960px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.container{
    width: 940px;
    margin: 0 auto;
}

    .container > h1{
        margin-bottom: 28px;
    }


/*  правила шапки сайта
-----------------------------------------------*/
.main-header{
    margin-bottom: 60px;
    background: #000000;
}

.main-navigation{
    float:left;
    width: 780px;
}

    .main-navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
    }

        .main-navigation li {
            display: inline-block;
            font-size: 16px;
            vertical-align: top;
        }

            .main-navigation a {
                display: block;
                padding: 26px 20px;
                color: #ffffff;
                text-decoration: none;
            }
                
                .main-navigation a:hover{
                    background: #242424;
                }

                .main-navigation a.active{
                    position: relative;
                }

                    .main-navigation a.active::after{
                        content: "";
                        position: absolute;
                        height: 4px;
                        left: 20px;
                        right: 20px;
                        bottom: 0;
                        background: #ffffff;
                    }

                        .main-navigation a.active:hover::after{
                            background: inherit;
                        }


.user-block {    
    float: right;
    max-width: 140px;
}

    .login {
        display: inline-block;
        position: relative;
        padding: 26px 20px;
        padding-left: 52px;
        font-size: 16px;
        text-decoration: none;
        vertical-align: top;
        color: #ffffff;
    }

        .login:hover{
            background: #242424;
        }

        .login::before{
            content: "";
            position: absolute;
            top: 28px;
            left: 20px;
            width: 18px;
            height: 18px;
            background: transparent url("../img/sprite.png") no-repeat;
            background-position: -4px -443px;
            opacity: .3;
        }

        .login:hover::before {
          opacity: 1;
        }


/*  правила подвала сайта
-----------------------------------------------*/
.main-footer {
    padding-top: 53px;
    padding-bottom: 40px;
    margin-top: 47px;
    background: #232323 url("../img/bg_footer.png") repeat 0 0;
    box-shadow: inset 0 40px 40px -20px rgba(0,0,0,.9);
    line-height: 24px;
    color: #ffffff;
}

    .footer-contacts {
      float: left;
      width: 320px;
      margin-right: 80px;
    }
        
        .main-footer p{
            margin: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        .footer-contacts a {
          color: #fff;
        }

        .footer-contacts a:hover {
          text-decoration: none;
        }

    .footer-social {
      float: left;
      text-align: center;
    }

        .footer-social p {
          margin: 0;
          margin-bottom: 15px;
        }

        .social-btn {
            display: inline-block;
            width: 43px;
            height: 43px;
            margin: 0 2px;
            font-size: 0;
            vertical-align: top;
            text-decoration: none;
            background: #000000 url("../img/sprite.png") no-repeat center;
        }

            .social-btn:hover {
                background-color: #fff;
            }

            .social-btn-vk {
              background-position: 8px -77px;
            }

            .social-btn-fb {
              background-position: 8px -110px;
            }

            .social-btn-inst {
              background-position: 9px -145px;
            }

            .social-btn-vk:hover {
              background-position: 8px -276px;
            }

            .social-btn-fb:hover {
              background-position: 8px -327px;
            }

            .social-btn-inst:hover {
              background-position: 9px -380px;
            }

    .footer-copyright {
      float: right;
      max-width: 320px;
    }

        .footer-copyright p {
          margin: 0;
          margin-bottom: 15px;

          text-align: center;
        }

        .footer-copyright .btn {
            margin-right: 0;
        }

        .footer-copyright .btn:hover {
          color: #000;
          background: #fff;
        }


/*  правила для страницы catalog.html
------------------------------------------------*/
.sidebar-catalog{
    float: left;
    width: 190px;
}

    .sidebar-catalog a{
        margin-top: 43px;
    }

input[type="checkbox"], input[type="radio"]{ 
    display: none; 
}

    input[type="checkbox"] + label, 
    input[type="radio"] + label{
        display: block;
        position: relative;
        margin: 20px 0;
        margin-top: 0;
        margin-left: 44px;
        cursor: pointer;
    }

    label:hover{
        color: #663d15;
    }

        input[type="checkbox"] + label::before, 
        input[type="radio"] + label::before{
            content: "";
            position: absolute;
            top: -4px;
            left: -44px;
            background: url("../img/sprite.png");
            width: 20px;
            height: 20px;
            vertical-align: top;
            margin-right: 15px;
        }

        input[type="radio"] + label::before{
            top: -2px;
            background-position: -3px -25px;
        }

        input[type="checkbox"] + label::before{
            border: 2px solid #000000;
            background: none;
        }

        input[type="checkbox"]:checked + label::before,
        input[type="radio"]:checked + label::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: -4px;
            left: -44px;
            background: url("../img/sprite.png");
            margin-right: 11px;
        }

        input[type="checkbox"]:checked + label::before{
            background-position: -3px 4px;
        }

        input[type="radio"]:checked + label::before{
            top: -2px;
            background-position: -3px -58px;
        }

h2.filter-title{
    margin-bottom: 40px;
}

    h2.filter-title:nth-of-type(2){
        margin-top: 43px;
    }

.catalog-content{
    float: right;
    width: 700px;
    padding: 0;
    font-size: 0;
}

    .catalog-item{
        display: inline-block;
        font-size: 14px;
        width: 220px;
        height: 286px;
        margin: 20px 20px;
        margin-left: 0;
        margin-top: 0;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        background: #ffffff;
    }

    .catalog-item:nth-child(3n){
        margin-right: 0;
    }

        .catalog-item-description{
            padding: 16px;
            padding-top: 5px;
        }

            .catalog-item-description > a{
                font-size: 14px;
                line-height: 18px;
                text-transform: none;
                text-decoration: none;
                color: #000000;
            }

                .catalog-item-description span{
                    display: block;
                    text-transform: uppercase;
                }

        .catalog-item-price{
            font-size: 0; 
            margin: 16px 0;
            margin-top: 14px;
            color: #ffffff;
    }

            .about-item h2{
                margin-bottom: 39px;
                line-height: 26px;
            }

        .catalog-item-cost{
            display: inline-block;
            padding: 13px 5px;
            width: 100px;
            font-size: 14px;
            vertical-align: top;
            color: #000;
            background: #e5e5e5;
            text-align: center;
        }

.page-number{
    padding-left: 0;
    margin-top: 44px;
    font-size: 0;
    list-style: none;
}

    .page-number li{
        display: inline-block;
        margin-right: 7px;
        font-size: 14px;
    }

        .page-number a.active{
            background: #ffffff;
            color: #000000;
            cursor: default;
        }


/*  правила для страницы catalog-item.html
------------------------------------------------*/
.photo-items{
    float: left;
    width: 460px;
    margin: 0;
}

    .photo-items img{
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    }

    .photo-items-big{
        margin-bottom: 21px;
    }


    .photo-items-preview{
        font-size: 0;
    }

        .photo-items-preview a{
            display: inline-block;
            width: 140px;
            margin-right: 20px;
        }

            .photo-items-preview a:nth-child(3n){
                margin-right: 0;
            }

.about-item{
    float: right;
    width: 390px;
    margin-top: 24px;
}
    .about-item-status{
        margin-bottom: 40px;
    }

        .availabile-item{
            float: left;
            width: 170px;
        }

        .articte-item{
            float: right;
            width: 170px;
            color: #aeaeae;
            text-align: right;
            margin-right: 10px;
        }


    .about-item .catalog-item-price{
        margin-top: 40px;
        margin-bottom: 67px;
    }

    .about-item ul{
        margin: 0;
        padding-left: 20px;
    }

        .about-item li{
            line-height: 24px;
            list-style: none;
            position: relative;
        }
        
            .about-item li::before{
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background: #000000;
                top: 8px;
                left: -20px;
                transform: rotate(45deg);
            }

        .about-item p{
            line-height: 24px;
            margin: 0;
        }

        
/*  правила для страниц catalog.html и catalog-item.html
------------------------------------------------*/
.inner-page{
    background: #f8f5f2 url("../img/bg_catalog.png") repeat 0 0;
}

    .breadcrumbs{
        padding-left: 0;
        margin-bottom: 55px;
        font-size: 0;
    }

        .breadcrumbs-item{
            display: inline-block;
            margin-right: 40px;
            font-size: 14px;
            color: #aba9a7;
        }
        
        .breadcrumbs-link{
            position: relative;
            color: #000000;
            text-decoration: none;
        }

            .breadcrumbs-link::after{
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background: #000000;
                top: 5px;
                right: -24px;
                transform: rotate(45deg);
            }

.btn {
    display: inline-block;
    padding: 12px 18px;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    background: #000;
}

    .btn:hover{
        background: #663d15;
    }

    .btn:active{
        background: #663d15;
    }

h1{
    margin: 0;
    font-size: 30px;
}

h2{
    margin: 0;
    font-size: 24px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden{
    display: none;
}